@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@1,500&display=swap');
#posicion{margin-left: 100px;margin-right: 400px;}
h1{font-family: 'Newsreader', serif;}
label{font-family: 'Newsreader', serif;}
#BORDES{margin-left: 100px;}
