<app-nav></app-nav>

<div id="posicion">
<div *ngIf="load">
      <h1>Pedidos </h1>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" >
    
          <div class="form-group">
              <label for="exampleInputPassword1">Nombres</label>
              <input formControlName="name" type="text" class="form-control" >
          </div>
    
          <div class="form-group">
              <label for="exampleInputPassword1">Apellidos</label>
              <input formControlName="lastname" type="text" class="form-control" >
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Celular</label>
            <input formControlName="tel" type="text" class="form-control" >
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">Direccion</label>
            <input formControlName="direccion" type="text" class="form-control" id="inputAddress" >
          </div>
          
          <div class="form-group">
                <label for="exampleInputFecha">Fecha</label>
                <input formControlName="fecha" type="date" class="form-control">
          </div>
        <br>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Opciones</label>
            <select class="form-select" id="inputGroupSelect01">
              <option selected>Elige platillo...</option>
              <option value="1">sancocho</option>
              <option value="2">Ajiaco</option>
              <option value="3">Arroz Paisa</option>
            </select>
          </div>
          <br><br>
          <button type="submit" class="btn btn-outline-success">Enviar</button>
    </form>
</div>
    <div id="BORDES">
      <div *ngIf="!load">
      <h1>ESPERA UN MOMENTO...</h1>
      <div class="spinner-grow text-primary" role="status">
        <span class="visually-hidden"></span>
      </div>
      <div class="spinner-grow text-secondary" role="status">
        <span class="visually-hidden"></span>
      </div>
      <div class="spinner-grow text-success" role="status">
        <span class="visually-hidden"></span>
      </div>
      <div class="spinner-grow text-danger" role="status">
        <span class="visually-hidden"></span>
      </div>
      <div class="spinner-grow text-warning" role="status">
        <span class="visually-hidden"></span>
      </div>
      <div class="spinner-grow text-info" role="status">
        <span class="visually-hidden"></span>
      </div>
      <div class="spinner-grow text-light" role="status">
        <span class="visually-hidden"></span>
      </div>
      <div class="spinner-grow text-dark" role="status">
        <span class="visually-hidden"></span>
      </div>
</div>
</div>
<div>
</div>

<app-footer></app-footer>

