<app-nav></app-nav>
<div id="posicion">
  <h1>Domicilios</h1>
  <div *ngFor="let product of productos">
    <img src="{{product.ulrImg}}" width="100px">
    <p>{{product.nombre}}</p>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Ingresa la direccion</label>
      <input formControlName="direccion" type="text" class="form-control" id="exampleInputDireccion1">
      <div  class="form-text">No compartiremos tu direccion.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Ingresa un segundo numero telefonico</label>
      <input formControlName="numero" type="tel" class="form-control" id="exampleInputNumber">
      <div  class="form-text">Tu numero telenofico esta seguro.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Ingresa la fecha</label>
      <input formControlName="fecha" type="date" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Ingresa la cantidad</label>
      <input formControlName="cantidad" type="number" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Pedir.</button>
  </form>
</div>
<app-footer></app-footer>

