<div id="hola">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img src="https://us.123rf.com/450wm/sudowoodo/sudowoodo1707/sudowoodo170700037/82587182-rata-y-rat%C3%B3n-blancos-y-negros-en-la-forma-de-yang-del-yin-ilustraci%C3%B3n-estilizada-hermosa-del-vector-.jpg?ver=6" alt="" width="54px">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <h1>Ratatouille</h1>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

