<app-nav></app-nav>
<div class="reservar">
<div id="posicion">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <div *ngIf="load">
      <h3>ZONA DE RESERVACION: </h3>
      <form [formGroup]="form" (ngSubmit)="onSubmit(correo)" >
          <div class="form-group">
              <label for="exampleInputNumero1">Numero telefonico</label>
              <input formControlName="cel" type="tel" class="form-control">
          </div>
    
          <div class="form-group">
              <label for="exampleInputFecha1">Fecha de reservacion: </label>
              <input formControlName="fecha" type="date" class="form-control" >
          </div>
          <div class="form-group">
            <label for="exampleInputNumero2">Numero de personas</label>
            <input formControlName="persona" type="text" class="form-control">
        </div>
        
          <br><br>
          <button type="submit" class="btn btn-">Reservar</button>
      </form>
    </div>
      </div>


    </div>
    <div id="BORDES">
      <div *ngIf="!load">
      <h1>ESPERA UN MOMENTO...</h1>
      <div class="spinner-grow text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-grow text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-grow text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-grow text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-grow text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    </div>
  </div>  

