<div *ngIf="botonfrancia">
  <h3>Platillos tipicos de francia</h3>
</div>
<!-- CAMBIAR LAS POSICIONES DE TABLA CON LOS PEDIDOS-->
<div id = "posicion" class="row">
  <div class="col-sm-10">
    <div class="card">
      <div class="card-body">
        <div *ngIf="botoncolombia">
          <h3>Platillos tipicos de colombia</h3>
          <div class="container">
          <table datatable [dtOptions]="dtOptions" class="table table- striped table-bordered row-border hover">
            <thead>
              <tr>
                <th></th>
                <th>comida</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let producto of productos">
                <th scope="row"><img src="{{producto.ulrImg}}" width="180px"></th>
                <td>{{producto.nombre}}</td>
                <td>{{producto.precio | currency:"COP"}}</td>
                <td>
                  <a [routerLink]="['/pedidos', producto.id]" class="btn btn-primary">COMPRAR</a>
                </td>
              </tr>
            </tbody>
        </table>
      </div>
      </div>
      </div>
    </div>
  </div>
</div>


