<h3>Colombia</h3>
<p><input type="image" name="botondeenvio" src="/assets/images/colombia.png" alt="Enviar formulario" width="260" height="210" ></p>

<h3>Francia</h3>
<p><input type="image" name="botondeenvio" src="/assets/images/francia.png" alt="Enviar formulario"width="260" height="210" ></p>

<h5>Selecciona la bandera la cual deseas conocer sus platillos</h5>

<!--<button type="button" (click)="pedirProductos()">Descargar Productos</button>-->
<div class="container">
    <table datatable [dtOptions]="dtOptions" class="table table- striped table-bordered row-border hover">
      <thead>
        <tr>
          <th></th>
          <th>comida</th>
          <th></th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos">
          <th scope="row"><img src="{{producto.ulrImg}}" width="180px"></th>
          <td>{{producto.nombre}}</td>
          <div>
              <form [formGroup]="form" (ngSubmit)="onSubmit(producto.id,producto.nombre)">
                <div class="form-group">
                    <label for="exampleInputCantidad1">Cantidad</label>
                    <input formControlName="cantidad" type="number" class="form-control">
                </div>
                <div class="col-auto">
                  <span id="passwordHelpInline" class="form-text">
                    Del 1 hasta 10
                  </span>
                </div>
                <button type="submit" class="btn btn-outline-secondary">Iniciar</button>
            </form>
            </div>
        </tr>
      </tbody>
  </table>
</div>

<table>
  <thead>
    <tr>
      <th>comida</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of info">
    <p>{{user.correo}}</p>
    </tr>
  </tbody>
</table>


