<h3>Colombia</h3>
<p><input type="image" name="botondeenvio" src="/assets/images/colombia.png" alt="Enviar formulario" width="260" height="210" ></p>

<h3>Francia</h3>
<p><input type="image" name="botondeenvio" src="/assets/images/francia.png" alt="Enviar formulario"width="260" height="210" ></p>

<h5>Selecciona la bandera la cual deseas conocer sus platillos</h5>

<!--<button type="button" (click)="pedirProductos()">Descargar Productos</button>-->
<div class="container">
    <table datatable [dtOptions]="dtOptions" class="table table- striped table-bordered row-border hover">
      <thead>
        <tr>
          <th></th>
          <th>comida</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos">
          
          <th scope="row"><img src="{{producto.ulrImg}}" width="180px"></th>
          <td>{{producto.nombre}}</td>
         
        </tr>
      </tbody>
  </table>
</div>

  


