@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@1,500&display=swap');
h1{font-family: 'Newsreader', serif;}
a{font-family: 'Newsreader', serif;}
#bordes{margin-left: 100px;}
