@import url('https://fonts.googleapis.com/css2?family=Oi&family=Open+Sans&display=swap');
h1{font-family: cursive;font-size: 100px;}
.fuente{margin-left: 380px;}
.fuente p {font-family: cursive;font-size: 20px;}
.fuente h1{font-family: cursive;}
.fuente h2{margin-left: -180px;font-family: cursive;}
