<app-nav></app-nav>
<div class="fuente">
  <h1>¿Quienes somos?</h1>
  <div class="card border-dark mb-3" style="max-width: 40rem;">
    <div class="card-header" class="fuente">
      <h2>El Chefsito</h2>
    </div>
    <div class="card-body text-dark">
      <p class="card-text" >En "El Chefsito" le espera un ambiente tranquilo y agradable, en nuestro  restaurante con terraza, ofreciéndole menú diario especial y nuestra selecta carta, con excelentes productos  para su deleite.
        Todo bajo un estricto y riguroso control de calidad específica y denominación de origen.
        Con el fin de satisfacer a todos nuestros clientes ponemos a su disposición nuestro amplio comedor, para celebrar todo tipo de eventos, banquetes, comidas de empresa y cenas íntimas, así como una zona privada para comidas de trabajo.
        Todo nuestro equipo desea que quede satisfecho tras su visita.</p>
    </div>
  </div>
</div>


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/images/res2.jpg" class="d-block w-100" alt="..."width="600" height="590">
    </div>
    <div class="carousel-item">
      <img src="../../assets/images/res3.jpg" class="d-block w-100" alt="..."width="600" height="590">
    </div>
    <div class="carousel-item">
      <img src="../../assets/images/res4.jpg" class="d-block w-100" alt="..."width="600" height="590">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<app-footer></app-footer>
