<app-nav></app-nav>
<div class="fuente">
  <h1>¿Quienes somos?</h1>
  <div class="card border-dark mb-3" style="max-width: 40rem;">
    <div class="card-header" class="fuente">
      <h2>El Chefsito</h2>
    </div>
    <div class="card-body text-dark">
      <p class="card-text" >En "El Chefsito" le espera un ambiente tranquilo y agradable, en nuestro  restaurante con terraza, ofreciéndole menú diario especial y nuestra selecta carta, con excelentes productos  para su deleite.
        Todo bajo un estricto y riguroso control de calidad específica y denominación de origen.
        Con el fin de satisfacer a todos nuestros clientes ponemos a su disposición nuestro amplio comedor, para celebrar todo tipo de eventos, banquetes, comidas de empresa y cenas íntimas, así como una zona privada para comidas de trabajo.
        Todo nuestro equipo desea que quede satisfecho tras su visita.</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
